$section-width: 800px;

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

main {
    flex: 2;
}

section {
    max-width: $section-width;
    margin: 50px auto;
    .secHead {
      font-size: 29px;
      text-align: center;
      // align-items: center;
    }
}

.container {
    display: grid;
    width: 80vw;
    /*margin: 20px auto;*/
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 20vh 70vh 10vh;
    grid-template-areas: "hd hd hd hd hd"
    "main main main main main"
    "ft ft ft ft ft";
    justify-content: center;
}

@media (min-width: 600px) and (max-width: 1100px) {
  .container {
    display: grid;
    width: 80vw;
    /*margin: 20px auto;*/
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-areas: "hd hd hd hd hd"
    "main main main main main"
    "ft ft ft ft ft";
    justify-content: center;
  }
}

@media (min-width: 1100px) {
  .container {
    display: grid;
    width: 80vw;
    /*margin: 20px auto;*/
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-areas: "hd hd hd hd hd"
    "main main main main main"
    "ft ft ft ft ft";
    justify-content: center;
  }
}
.header {
  grid-area: hd;
  justify-content: center;

}
.main {
  grid-area: main;
}
// .sidebar {
//   grid-area: sd;
// }
.clsResult {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 20px;
  p:first-child {
    font-weight: bold;
    padding: 10px 0 5px 0;
  }
}
// .clsImage {
//   width: 400px;
//   height: 200px;
// }
// .img {
//   object-fit: contain;
// }
.clsHide {
  visibility: hidden;
}
.error {
  font-size: 20px;
  font-weight: bold;
  color: red;
}
